<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="{{product_name}}"
    Manufacturer="{{manufacturer}}"
    Version="{{version}}"
    UpgradeCode="{{bundle_upgrade_code}}"
    IconSourceFile="{{icon_path}}">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="rtfLargeLicense"
        LicenseFile="{{license_rtf_path}}"
        LogoFile="{{bootstrapper_logo_path}}"
        ShowVersion="yes"
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        SourceFile="{{msi_path}}"
        Compressed="yes" />
    </Chain>
  </Bundle>
</Wix>
